#navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Arial', sans-serif;
}

#navbar a:hover {
    background-color: #ddd;
    color: white;
}

#navbar a.active {
    background-color: #4CAF50;
    color: white;
}

/* Welcome Message */
#page-container {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 100px;
}

/* Footer */
#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* My Products */
#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.product {
    width: 300px;
    margin: 10px;
    text-align: center;
}

.product img {
    width: 100%;
}

.ruling-body {
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    margin-top: 10px;
    padding-left: 16%;
    padding-right: 16%;
    text-align: left;
}

.ruling-reasoning {
    font-weight: bold;
}